<div class='mm fixed inset-0 flex flex-col h-screen bg-white z-50 transition duration-300 w-full max-w-full'>

    <div class='container flex-auto overflow-y-scroll block flex flex-col'>
        <div class='block flex justify-end py-4 border-b'>
            <button class='js-close-mm uppercase text-xs appearance-none'>
                Close
            </button>
        </div>

        <div class='block py-4 border-b flex-auto'>

            <ul class=''>
                {% for link in linklists.main-menu.links %}
                    <li class='mb-4 block'>

                        {% if link.links.size > 0 %}

                            <div class='flex flex-wrap justify-between items-center w-full'>
                                <a href='{{ link.url }}' class='w-11/12'>{{ link.title }}</a>

                                <button class='appearance-none js-toggle-sub-menu w-4'><span class='sub-menu-icon transition duration-300 block'>{% include 'arrow-down' %}</span></button>
                                
                                <div class='w-full hidden sub-menu'>
                                    <ul class='pl-4 py-4 text-sm'>
                                        {% for sublink in link.links %}
                                            <li class='mb-4 block relative'>
                                                <a href='{{ sublink.url }}'>{{ sublink.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>   
                                </div>
                            </div>

                        {% else %}

                            <a href='{{ link.url }}'>{{ link.title }}</a>

                        {% endif %}
                        
                    </li>
                    
                {% endfor %}
            </ul>

        </div>


        <div class='py-4 block'>
            <ul>
                <li class='mb-4 block'>
                    <a href='/account' class='flex items-center'>
                        <span>Log in / Register</span>
                    </a>
                </li>
                <li class='mb-4 block'>
                    <a href='/cart' class='flex items-center'>
                        <span>Cart</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>

</div>