<header class='border-b border-light-gray z-40 w-full'>
  
    <div class='header-outer bg-white relative'>
  
      <div class='header-container z-40 relative bg-white w-full py-4 lg:py-0'>
        <div class='container'>
          <div class='w-full flex items-center justify-between lg:justify-start'>
            <div class='w-1/2 md:w-auto pr-4'>
              <a href='/'>
                Logo
              </a>
            </div>

            <div class='flex-1 hidden lg:flex flex-wrap'>
              {% for link in linklists.main-menu.links %}

                  {% assign has_active_link = false %}  

                  {% if link.links.size > 0 %}
                    {% capture megamenu %}
                      <div class='megamenu hidden w-full absolute py-4 z-30 bg-white border-t border-b top-100 left-0 right-0'>
                        <div class='container mx-auto'>
                          <div class='w-full flex flex-wrap'>
                            {% for childlink in link.links %}

                              {% if childlink.active %}
                                {% assign has_active_link = true %}
                              {% endif %}

                              <div class='block mb-2'>
                                <a href='{{ childlink.url }}' class='{% if childlink.active %}underline{% endif %}' >{{ childlink.title }}</a>
                              </div>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                    {% endcapture %}
                  {% endif %}

                  {% if link.active %}
                    {% assign has_active_link = true %}
                  {% endif %}

                  <div class='px-4 py-4 {% if link.levels > 0 %} has-megamenu{% endif %}'>
                    <a href="{{ link.url }}" class='megamenu-link'>{{ link.title }}</a>

                    {{ megamenu }}
                  </div>
              {% endfor %}
            </div>

            <div class='flex items-center justify-end'>              
  
              <div class='px-4 lg:py-4 hidden lg:block'>
                <a href='/search'>Search</a>
              </div>
  

              {% if shop.customer_accounts_enabled %}
                <div class='px-4 py-4 lg:block hidden'>
                  <a href="/account">Account</a>
                </div>
              {% endif %}

  
              <a href='/cart' class='block px-4 lg:pr-0 lg:py-4'>
                Cart
                {% if cart.item_count > 0 %}
                  <span class=''>({{ cart.item_count }})</span>
                {% endif %}
              </a>
  
              <div class='pl-4 lg:hidden block'>
                <button class='flex items-center mr-0 js-open-mm w-6'>{% include 'icon-hamburger' %}</button>
              </div>
            </div>
          </div>
        </div>
      </div>      
  
    </div>
  
  </header>
  
  {% include 'mm' %}  
  
  {% schema %}
      {
        "name": "Header",
        "class": "sticky top-0 z-20",
        "settings": [
          {
              "type": "header",
              "content": "Menu"
          },
          {
              "type": "link_list",
              "id": "main_menu",
              "label": "Main Menu",
              "default": "main-menu"
          }
        ]
      }
    {% endschema %}