<div class='container'>
  

    {% paginate blog.articles by 5 %}

    <h1 class='block title text-center mb-10'>{{ blog.title }}</h1>

    <div class='grid grid-cols-1 md:grid-cols-3 md:gap-x-4 gap-y-8 w-full'>
      {% for article in blog.articles %}
        <div>
          <div class='pt-50 block w-full relative mb-4 h-0'>
            <img src='{{ article.image | img_url: "600x" }}' class='absolute object-cover inset-0 w-full h-full' />
          </div>

          <h2 class='title mb-2'><a href="{{ article.url }}">{{ article.title }}</a></h2> 
          
          <div>
            {% if article.excerpt.size > 0 %}
              {{ article.excerpt }}
            {% else %}
              <p>{{ article.content | strip_html | truncatewords: 30 }}</p>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>


    {% if paginate.pages > 1 %}
      <div class='w-full flex justify-center pt-10 pagination'>
        {{ paginate | default_pagination }}
      </div>
    {% endif %}

    {% endpaginate %}

  
</div>