<script type='application/json' class='js-product-json'>
  {{ product | json }}
</script>

{% assign current_variant = product.selected_or_first_available_variant %}

<div class=''>
  <div class='container'>

    <div class='flex flex-wrap'>

      <div class='w-full md:w-1/2 relative'>

        <div class='md:grid md:grid-cols-12 md:gap-x-6 js-block transition duration-300' style='opacity: 0'>
          <div class='col-span-2 hidden md:block'>
              <div class='w-full js-thumbnails'></div>
          </div>
      
          <div class='md:col-span-10 relative'>
            <div class='js-arrows'></div>
            <div class='w-full js-images relative'></div>
          </div>
      </div>

      </div>

      <div class='w-full md:w-1/2 lg:px-8 lg:py-0 py-8'>

        <div class='block mb-4'>
          <h1 class='title'>{{ product.title }}</h1>
        </div>

        <div class='block mb-4'>
          <h2 class='js-variant-price'>{{ current_variant.price | money_without_trailing_zeros }}</h2>
          <h2 class='ml-4 text-red line-through js-variant-compare-price' {% if current_variant.compare_at_price == blank %}style='display:none'{% endif %}>{{ current_variant.compare_at_price | money_without_trailing_zeros }}</h2>
        </div>

        <div class='mb-4'>{{ product.description }}</div>


        {% comment %}
        <form data-cart-submit="data-cart-submit">
        
        
        
          <div class='block'>
            <label>Select a Product</label>
            <select name="id">
              <option value="37671584661681">Coat</option>
            </select>
          </div>
        
          <div class='block'>
            <label>Choose a Quantity</label>
            <select name="quantity">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        
          <div class='block'>
            <label>Add a Custom Label <small>Optional</small></label>
            <input type="text" name="properties[Custom Label]" />
          </div>
        
          <button type="submit">Add to Cart</button>
        </form>
        {% endcomment %}



        {% if product.available %}

        <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">

          <div class='block w-full mb-4'>

            {% unless product.has_only_default_variant %}
              {% for option in product.options_with_values %}

                <div class='font-bold mb-1'>{{ option.name }}</div>

                <div class='block mb-4'>
                  
                  {% for value in option.values %}

                      {% if value == option.selected_value %}
                        {% assign checked = true %}
                      {% else %}
                        {% assign checked = false %}
                      {% endif %}
                      
                      
                      {%
                        include 'component-radio' with
                        label: value,
                        value: value,
                        name: option.name,
                        checked: checked,
                        attributes: 'data-option-radio'
                      %}
                  {% endfor %}
                  
                  {% comment %}
                  {%- capture options -%}
                    {% for value in option.values %}
                      <option value='{{ value }}' {% if option.selected_value == value %}selected{% endif %}>
                        {{ value }}
                      </option>
                    {% endfor %}
                  {%- endcapture -%}

                  {%
                    include 'component-select' with
                    label: option.name,
                    name: option.name,
                    attributes: 'data-option-select'
                    options: options
                  %}
                  {% endcomment %}

                </div>
                
              {% endfor %}
            {% endunless %}

          </div>

          
          <div class='hidden'>
            <select name="id" class='py-4 w-full js-variants' data-option-main>
              {% for variant in product.variants %}
                <option value="{{ variant.id }}" {% if current_variant.id == variant.id %}selected{% endif %}>
                  {{ variant.title }}
                </option>
              {% endfor %}
            </select>
          </div>

          <div class='block w-full mb-4'>
            <div class='flex items-center justify-between w-full'>
              <div class="relative flex border border-solid mr-2 lg:mr-4 text-sm">
                <button type="button" class="w-6 js-counter-remove outline-none">-</button>
                <input type="number" name="quantity" value="1" min="1" max="" class="w-10 text-center m-0 appearance-none js-counter-quantity">
                <button type="button" class="w-6 js-counter-add outline-none">+</button>
              </div>
            </div>
          </div>

          <button type="submit" name="add" class='btn text-sm lg:text-base hover:bg-gray-300 w-full js-add-to-cart'>Add to cart</button>

          <div class='js-sold-out' style='display: none'>
            <div>Sold out!<br><a href='' class='underline'>Enter your email here</a> to get notified when we're back in stock.</div>
          </div>

          {% comment %}
          {% include 'gift-option' %}
          {% endcomment %}

        </form>

        {% else %}

        <div>
          <div>Sold out!<br><a href='' class='underline'>Enter your email here</a> to get notified when we're back in stock.</div>
        </div>

        {% endif %}

      </div>

    </div>
  
  </div>
</div>

{% capture 'json' %}
{
{% for v in product.variants %}
  "{{ v.title }}": {
    "id": "{{ v.id | json }}",
    "available": "{{ v.available }}",
    "image": "{{ v.image.id }}",
    "price": "{{ v.price | money_without_trailing_zeros }}"
  }
{% if forloop.last %}{% else %},{% endif %}
{% endfor %}
}
{% endcapture %}

<script class='js-variants-json' type='application/json'>
  {{- json | strip -}}
</script>